html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 48em;
    margin: auto;
}

@media (width > 48em) {
    body {
        border-left: solid 1px black;
        border-right: solid 1px black;
    }
}

header {
    padding: 1em;
    background-color: #ddd;
    border-bottom: solid 1px #777;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

header > * {
    flex-grow: 1;
}

header .breadcrumbs {
    align-self: center;
    flex-grow: 10000000;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

ul {
    padding: unset;
    margin: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

ul > li {
    display: flex;
    gap: 0.5em;
    border-bottom: solid 1px #777;
    padding: 1em;
    min-height: 3em;
}

ul > li > a, ul > li > .name-span {
    align-self: center;
}

ul > li > a, ul > li > input, .name-span {
    flex-grow: 1;
}

ul:not(.edit-mode) > li {
    cursor: pointer;
}

input {
    font-size: 16px;
}

button {
    font-size: 16px;
    padding: 1em;
    cursor: pointer;
}

button.button-icon {
    padding: 0.25em 0.5em;
    font-size: 1.5em;
}

.name-checkbox:checked + .name-span {
    color: #555;
    text-decoration: line-through;
    font-style: italic;
}

dialog {
    padding: 2em;
    border-radius: 1em;
    border: unset;
}

dialog > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

dialog > form > label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

dialog > form > .form-buttons {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

dialog > form > .form-buttons > button {
    flex-grow: 1;
}

.full-width-button {
    border: none;
    border-top: solid 1px black;
}

.full-width-button:hover {
    background-color: #ccc;
}

.screenreader-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}